{# Widgets #}

{% block collection_widget -%}
{%- if rendered -%}
    {{- block('block_widget') -}}
    {{- empty_message|default(null)|raw -}}
{%- endif -%}
{%- endblock collection_widget %}

{% block textarea_widget -%}
{%- if rendered -%}
    {%- set value = value|raw|nl2br -%}
    {{- block('block_widget_simple') -}}
{%- endif -%}
{%- endblock textarea_widget %}

{% block choice_widget -%}
{%- if rendered -%}
    {%- if expanded -%}
        {{- block('choice_widget_expanded') -}}
    {%- else -%}
        {{- block('choice_widget_collapsed') -}}
    {%- endif -%}
{%- endif -%}
{%- endblock choice_widget %}

{% block choice_widget_expanded -%}
{%- if rendered -%}
    {{- block('choice_widget_collapsed') -}}
{%- endif -%}
{%- endblock choice_widget_expanded %}

{% block choice_widget_collapsed -%}
{%- if rendered -%}
    {%- if multiple -%}
        {%- set attr = attr|merge({'class': attr.class|default('') ~ ' choice_multiple' }) -%}
    {%- else -%}
        {%- set attr = attr|merge({'class': attr.class|default('') ~ ' choice' }) -%}
    {%- endif -%}

    <div{{ block('widget_attributes') }}>
        {%- set options = selected_choices -%}
        {{- block('choice_widget_options') -}}
    </div>
{%- endif -%}
{%- endblock choice_widget_collapsed %}

{% block choice_widget_options -%}
{%- if rendered -%}
    {%- for indice, option in options -%}
        {% set optionLabel = option.label|block_trans({}, choice_translation_domain) %}
        {%- if route_name is defined and route_name is not null -%}
            {%- set data_indice = data[indice]|default(data) -%}
            {%- set route_parameters = route_parameters|merge({(route_id_name): data_indice.id}) -%}
            <a href="{{ path(route_name, route_parameters) }}">{{ optionLabel }}</a>
        {%- else -%}
            <span>{{ optionLabel }}</span>
        {%- endif -%}
    {%- endfor -%}
    {%- if options|length == 0 -%}
        <span class="choice-empty">{{ empty_value }}</span>
    {%- endif -%}
{%- endif -%}
{%- endblock choice_widget_options %}

{% block checkbox_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block_checkbox ' ~ value)|trim}) -%}
    <div{{ block('widget_attributes') }}></div>
{%- endif -%}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
{%- if rendered -%}
    {%- if value -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block_radio checked')|trim}) -%}
    {%- else -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block_radio')|trim}) -%}
    {%- endif -%}

    <div{{ block('widget_attributes') }}></div>
{%- endif -%}
{%- endblock radio_widget %}

{% block url_widget -%}
{%- if rendered -%}
    {%- set title = title|default(value) -%}
    {%- set url_attr = url_attr|merge({'href': value, 'tabindex': 0 }) -%}
    {%- set value -%}
        {%- if data is not empty -%}
            <a {% for attrname, attrvalue in url_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ title }}</a>
        {%- else -%}
            {{- value -}}
        {%- endif -%}
    {%- endset -%}
    {{- block('block_widget_simple') -}}
{%- endif -%}
{%- endblock url_widget %}

{% block hidden_widget -%}
{%- endblock hidden_widget %}

{% block email_widget -%}
{%- if rendered -%}
    {%- if mailto -%}
        {%- set label = label|default(value) -%}
        {%- if label_format is not empty -%}
            {%- set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) -%}
        {%- endif -%}

        {%- set value -%}
        <a href="mailto:{{ value }}" tabindex="0">{{ label|block_trans({}, translation_domain) }}</a>
        {%- endset -%}
    {%- endif -%}
    {{- block('block_widget_simple') -}}
{%- endif -%}
{%- endblock email_widget %}

{% block entity_widget -%}
{%- if rendered -%}
    {{- block('choice_widget') -}}
{%- endif -%}
{%- endblock entity_widget %}
