{# Widgets #}

{% block collection_widget -%}
    {{- block('block_widget') -}}
{%- endblock collection_widget %}

{% block textarea_widget -%}
    {%- set value = value|raw|nl2br -%}
    {{- block('block_widget_simple') -}}
{%- endblock textarea_widget %}

{% block choice_widget -%}
    {%- if expanded -%}
        {{- block('choice_widget_expanded') -}}
    {%- else -%}
        {{- block('choice_widget_collapsed') -}}
    {%- endif -%}
{%- endblock choice_widget %}

{% block choice_widget_expanded -%}
    {{- block('choice_widget_collapsed') -}}
{%- endblock choice_widget_expanded %}

{% block choice_widget_collapsed -%}
    {%- if multiple -%}
        {%- set attr = attr|merge({'class': attr.class|default('') ~ ' choice_multiple' }) -%}
    {%- else -%}
        {%- set attr = attr|merge({'class': attr.class|default('') ~ ' choice' }) -%}
    {%- endif -%}

    <div{{ block('widget_attributes') }}>
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </div>
{%- endblock choice_widget_collapsed %}

{% block choice_widget_options -%}
    {%- for indice in choice_selections -%}
        <span class="choice-item{% if inline %} inline{% endif %}">
    {%- if route_name is defined and route_name is not null -%}
        {%- set data_indice = data[indice]|default(data) -%}
        {%- set route_parameters = route_parameters|merge({(route_id_name): data_indice.id}) -%}
        <a href="{{ path(route_name, route_parameters) }}">{{ options[indice].label|trans({}, translation_domain) }}</a>
    {%- else -%}
        <span>{{ options[indice].label|trans({}, translation_domain) }}</span>
    {%- endif -%}
    </span>
    {%- endfor -%}

    {%- if choice_selections|length == 0 -%}
        <span class="choice-empty">{{ empty_value|trans({}, translation_domain) }}</span>
    {%- endif -%}
{%- endblock choice_widget_options %}

{% block checkbox_widget -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block_checkbox ' ~ value)|trim}) -%}
    <div{{ block('widget_attributes') }}></div>
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {%- if value -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block_radio checked')|trim}) -%}
    {%- else -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' block_radio')|trim}) -%}
    {%- endif -%}

    <div{{ block('widget_attributes') }}></div>
{%- endblock radio_widget %}

{% block url_widget -%}
    {%- set title = title|default(value) -%}
    {%- set url_attr = url_attr|merge({'href': value, 'tabindex': 0 }) -%}
    {%- set value -%}
    <a {% for attrname, attrvalue in url_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ title|trans({}, translation_domain) }}</a>
    {%- endset -%}
    {{- block('block_widget_simple') -}}
{%- endblock url_widget %}

{% block hidden_widget -%}
{%- endblock hidden_widget %}

{% block email_widget -%}
    {%- if mailto -%}
        {%- set label = label|default(value) -%}
        {%- if label_format is not empty -%}
            {%- set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) -%}
        {%- endif -%}

        {%- set value -%}
        <a href="mailto:{{ value }}" tabindex="0">{{ label|trans({}, translation_domain) }}</a>
        {%- endset -%}
    {%- endif -%}
    {{- block('block_widget_simple') -}}
{%- endblock email_widget %}

{% block entity_widget -%}
    {{- block('choice_widget') -}}
{%- endblock entity_widget %}
