{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes|abs < kilobyte %}
        {{ bytes|number_format(2, '.') ~ ' B' }}
    {% elseif bytes|abs < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
    {% elseif bytes|abs < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
    {% elseif bytes|abs < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% block toolbar %}
    {% set icon %}
        <img width="14" height="28" alt="Sonatra Blocks" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAYAAABRVo5BAAABG2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS4xLjIiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+MahxaQAAAAlwSFlzAAALEwAACxMBAJqcGAAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAABBklEQVR42uSU3W2DMBSFPyLewwZtJygbYKz4OdkgdIOMkBEyAtmg75YsswHdADZwJqAvNxIhP1h5aFX1SDxcw+Ha95zjZBgGnsGCJ/HzxHS6YLTKgAOwAZbAF1Bb5w9zHV+BrZAA3oH97Fat8y1QjpZO8rMLJKuy8De65qOOAD3QTc9YRMziRZ4/pGMvw2IhRQ+8zZBOMjQFNKkUmXW+M1odRcNbqK3zAWgBlUoR5GX3oGO4kMNo9QkE63wFVA+IFbAXS+6SVVmcA9lEaHoEMmA9NnmMEba/m8fmTrTG3px+E5J7l5XRqpUsfljn66itGq12QkIkyGPPmJ89KciugvwP7tXvAQC5F0Yy3yEiEAAAAABJRU5ErkJggg==" />
        <span class="sf-toolbar-status{% if 50 < collector.total %} sf-toolbar-status-yellow{% endif %}">{{ collector.total }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Total blocks</b>
            <span>{{ collector.total }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Masters</b>
            <span>{{ collector.masterSize }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Children</b>
            <span>{{ collector.childrenSize }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Renderer time</b>
            <span>{{ collector.duration|number_format(0, '.') }} ms</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAYAAAAhDE4sAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATtJREFUeNrsVt0NgjAQBuK7jqATiBNYjD6rG+gGjqAbwATCBOqziT8b4Aa4AU6AX82RnNJCa3z0kkvTa/nS+/nucIuicH4hLd3BZCS6WFbQBbRN5qu0HU+X1BgIkjKAUobQECo+L3s1QHuF7aGxO25djODeDMuOmXpwK1MCjYOhqHmVjNGU7Q/kmjLYZ4vkTD+AjWJkJX8grdxUQBF0YwEyQE35RJsX0Jw2IQ7WWO8GIAnjmyzaoFLZqGZJ0m0D0BJAcVOMMoMXVe54sl1AOU18AyBflTXp65kIWvKrSWYsFGtoKklbsFTm1HNMRBI4Jm3zxta3rKE3Av+5ZjaOAs1Zh0qBZzGhLNk1f6qTnMbSFbQQX7lGvCtnm4+9tuq1L1KMonKuCdWk9RombUQfO9ReQh2p3V/9RDwFGACIY16lcht2WwAAAABJRU5ErkJggg==" alt="" /></span>
    <strong>Blocks</strong>
    <span class="count">
        <span>{{ collector.total }}</span>
        <span>{{ collector.duration|number_format(0, '.') }} ms</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Blocks</h2>
    {% set blocks = collector.blocks %}

    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Memory used</th>
            <th>Memory peak</th>
            <th>Duration</th>
        </tr>
        {% for block in blocks %}
            <tr>
                <td><{% if block.is_master %}strong{% else %}span{% endif %} style="margin-left:{{ 14*block.indentation }}px;"><abbr title="{{ block.id }}">{{ block.name }}</abbr>{% if block.is_master %}</strong>{% else %}</span>{% endif %}</td>
                <td>{{ block.type }}</td>
                <td>{{ bytesToSize(block.memory_used) }}</td>
                <td>{{ bytesToSize(block.memory_peak) }}</td>
                <td>{{ block.duration|number_format(0, '.') }} ms</td>
            </tr>
        {% endfor %}

        {% if blocks|length == 0 %}
            <tr>
                <td colspan="5">{{ 'no_block_rendered'|trans({}, 'profiler') }}</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
