{%- extends 'WebProfilerBundle:Profiler:layout.html.twig' -%}

{%- from 'SonatraBlockBundle:Collector:macro.html.twig' import block_tree_entry, block_tree_details -%}

{% block toolbar -%}
    {%- if collector.data|length and collector.data.blocks|length -%}
        {% set status_color = collector.data.duplicate_ids ? 'red' : '' %}
        {% set icon %}
            {{ include('@SonatraBlock/Icon/block.svg') }}
            <span class="sf-toolbar-value">
                {{ collector.data.duplicate_ids|length ?: collector.data.blocks|length }}
            </span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Number of blocks</b>
                <span class="sf-toolbar-status">{{ collector.data.blocks|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Number of duplicate ids</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.data.duplicate_ids|length > 0 ? 'red' }}">{{ collector.data.duplicate_ids|length }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
    {%- endif -%}
{%- endblock toolbar %}

{% block menu -%}
    <span class="label label-status-{{ collector.data.duplicate_ids|length ? 'error' }} {{ collector.data.blocks is empty ? 'disabled' }}">
        <span class="icon">{{ include('@SonatraBlock/Icon/block.svg') }}</span>
        <strong>Blocks</strong>
        {% if collector.data.duplicate_ids|length > 0 %}
            <span class="count">
                <span>{{ collector.data.duplicate_ids|length }}</span>
            </span>
        {% endif %}
    </span>
{%- endblock menu %}

{% block head -%}
    {{- parent() -}}
    {%- include 'SonatraBlockBundle:Collector:block.css.twig' -%}
{%- endblock head %}

{% block panel -%}
    <h2>Blocks</h2>

    {% if collector.data.blocks|length %}
        <div id="tree-menu" class="tree">
            <ul>
                {% for blockHash, blockData in collector.data.blocks %}
                    {{ block_tree_entry(blockHash, blockData, true) }}
                {% endfor %}
            </ul>
        </div>

        <div id="tree-details-container">
            {% for blockHash, blockData in collector.data.blocks %}
                {{ block_tree_details(blockHash, blockData, collector.data.duplicate_ids) }}
            {% endfor %}
        </div>
    {% else %}
        <div class="empty">
            <p>No blocks were constructed for this request.</p>
        </div>
    {% endif %}

    {%- include 'SonatraBlockBundle:Collector:block.js.twig' -%}
{%- endblock panel %}
