{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% from _self import block_tree_entry, block_tree_details %}

{% block toolbar %}
    {% if collector.data|length %}
        {% set icon %}
            <img width="14" height="28" alt="Sonatra Blocks" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAYAAABRVo5BAAABG2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS4xLjIiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+MahxaQAAAAlwSFlzAAALEwAACxMBAJqcGAAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAABBklEQVR42uSU3W2DMBSFPyLewwZtJygbYKz4OdkgdIOMkBEyAtmg75YsswHdADZwJqAvNxIhP1h5aFX1SDxcw+Ha95zjZBgGnsGCJ/HzxHS6YLTKgAOwAZbAF1Bb5w9zHV+BrZAA3oH97Fat8y1QjpZO8rMLJKuy8De65qOOAD3QTc9YRMziRZ4/pGMvw2IhRQ+8zZBOMjQFNKkUmXW+M1odRcNbqK3zAWgBlUoR5GX3oGO4kMNo9QkE63wFVA+IFbAXS+6SVVmcA9lEaHoEMmA9NnmMEba/m8fmTrTG3px+E5J7l5XRqpUsfljn66itGq12QkIkyGPPmJ89KciugvwP7tXvAQC5F0Yy3yEiEAAAAABJRU5ErkJggg==" />
            {% set statut_bar = 'green' %}
            {% if collector.data.has_error %}
                {% set statut_bar = 'red' %}
            {% endif %}
            <span class="sf-toolbar-status sf-toolbar-status-{{ statut_bar }}">{{ collector.data.blocks|length }}</span>
        {% endset %}

        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAYAAAAhDE4sAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATtJREFUeNrsVt0NgjAQBuK7jqATiBNYjD6rG+gGjqAbwATCBOqziT8b4Aa4AU6AX82RnNJCa3z0kkvTa/nS+/nucIuicH4hLd3BZCS6WFbQBbRN5qu0HU+X1BgIkjKAUobQECo+L3s1QHuF7aGxO25djODeDMuOmXpwK1MCjYOhqHmVjNGU7Q/kmjLYZ4vkTD+AjWJkJX8grdxUQBF0YwEyQE35RJsX0Jw2IQ7WWO8GIAnjmyzaoFLZqGZJ0m0D0BJAcVOMMoMXVe54sl1AOU18AyBflTXp65kIWvKrSWYsFGtoKklbsFTm1HNMRBI4Jm3zxta3rKE3Av+5ZjaOAs1Zh0qBZzGhLNk1f6qTnMbSFbQQX7lGvCtnm4+9tuq1L1KMonKuCdWk9RombUQfO9ReQh2p3V/9RDwFGACIY16lcht2WwAAAABJRU5ErkJggg==" alt="" /></span>
        <strong>Blocks</strong>
        {% if collector.data.blocks|length %}
            <span class="count">
                <span>{{ collector.data.blocks|length }}</span>
                {% if collector.data.has_error %}
	                <span>Error</span>
	            {% endif %}
            </span>
        {% endif %}
    </span>
{% endblock %}


{% block panel %}
    <style type="text/css">
    .window {
        /*background: #F6F6F6;*/
        margin: -30px -40px -40px;
    }
    .toggle-icon {
        display: inline-block;
        background: url("{{ asset('bundles/framework/images/toggler.png') }}") no-repeat top left #5eb5e0;
    }
    .closed .toggle-icon, .closed.toggle-icon {
        background-position: bottom left;
    }
    .toggle-icon.empty {
        background-image: url("{{ asset('bundles/framework/images/toggler_empty.png') }}");
    }
    .tree {
        width: 230px;
        padding: 10px;
        font-size: 12px;
        float: left;
    }
    #content .tree h2 {
        font-size: 13px;
        padding: 5px 7px;
        margin: 0;
    }
    .tree li {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .tree .tree-inner {
        width: 100%;
        padding: 5px 7px 5px 22px;
        border-radius: 6px;
        color: #313131;
        cursor: pointer;
        position: relative;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .tree a {
        text-decoration: none;
    }
    .tree .toggle-button {
        /* provide a bigger clickable area than just 10x10px */
        width: 16px;
        height: 16px;
        /* vertically center the button */
        position: absolute;
        top: 50%;
        margin-top: -8px;
        margin-left: -18px;
    }
    .tree .toggle-icon {
        width: 10px;
        height: 10px;
        /* position the icon in the center of the clickable area */
        margin-left: 3px;
        margin-top: 3px;
        background-size: 10px 20px;
        background-color: #ccc;
    }
    .tree .toggle-icon.empty {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        margin-left: -15px;
        background-size: 10px 10px;
    }
    .tree ul ul .tree-inner {
        padding-left: 37px;
    }
    .tree ul ul ul .tree-inner {
        padding-left: 52px;
    }
    .tree ul ul ul ul .tree-inner {
        padding-left: 67px;
    }
    .tree ul ul ul ul ul .tree-inner {
        padding-left: 82px;
    }
    .tree .tree-inner:hover {
        background: #dfdfdf;
    }
    .tree .tree-inner.active, .tree .tree-inner.active:hover {
        background: #dfdfdf;
        font-weight: bold;
        color: #313131;
    }
    .tree .tree-inner.active .toggle-icon, .tree .tree-inner:hover .toggle-icon, .tree .tree-inner.active:hover .toggle-icon {
        background-image: url("{{ asset('bundles/framework/images/toggler_hover.png') }}");
        background-color: #aaa;
    }
    .tree .tree-inner.active .toggle-icon.empty, .tree .tree-inner:hover .toggle-icon.empty, .tree .tree-inner.active:hover .toggle-icon.empty {
        background-image: url("{{ asset('bundles/framework/images/toggler_hover_empty.png') }}");
    }
    .tree-details {
        border-left: 1px solid #dfdfdf;
        background: white;
        margin-left: 250px;
        padding: 30px 40px 40px;
    }
    .tree-details h3 {
        position: relative;
    }
    .tree-details .toggle-icon {
        width: 16px;
        height: 16px;
        /* vertically center the button */
        position: absolute;
        top: 50%;
        margin-top: -9px;
        margin-left: 6px;
    }
    .block-type {
        color: #999999;
    }
    .hidden {
        display: none;
    }
    .badge-error {
        float: right;
        background: #a33;
        color: #fff;
        padding: 1px 4px;
        font-size: 10px;
        font-weight: bold;
        vertical-align: middle;
        border-radius: 6px;
    }
    .message-error {
        display: block;
        margin: 14px 0;
        padding: 10px;
        background: #fff5f2;
        border: 1px solid #a33;
    }
    .message-error > span {
        display: block;
        margin-bottom: 7px;
        font-weight: bold;
        color: #a33;
    }
    #content #main .message-error p {
        padding-bottom: 0px;
    }
    h3 a, h3 a:hover, h3 a:focus {
        color: inherit;
        text-decoration: inherit;
    }
    </style>

    {% if collector.data.blocks|length %}
        <div class="window">
            <div class="tree">
                <h2>Blocks</h2>

                <ul>
                {% for blockHash, blockData in collector.data.blocks %}
                    {{ block_tree_entry(blockHash, blockData, true) }}
                {% endfor %}
                </ul>
            </div>

            {% for blockHash, blockData in collector.data.blocks %}
                {{ block_tree_details(blockHash, blockData) }}
            {% endfor %}
        </div>
    {% else %}
        <p><em>No blocks were constructed with 'profiler' option for this request.</em></p>
    {% endif %}

    <script>
    function Toggler() {
        "use strict";

        var expand = function (button) {
                var targetId = button.dataset.toggleTargetId,
                    target = document.getElementById(targetId);

                if (!target) {
                    throw "Toggle target " + targetId + " does not exist";
                }

                Sfjs.removeClass(button, 'closed');
                Sfjs.removeClass(target, 'hidden');
            },

            collapse = function (button) {
                var targetId = button.dataset.toggleTargetId,
                    target = document.getElementById(targetId);

                if (!target) {
                    throw "Toggle target " + targetId + " does not exist";
                }

                Sfjs.addClass(button, 'closed');
                Sfjs.addClass(target, 'hidden');
            },

            toggle = function (button) {
                if (Sfjs.hasClass(button, 'closed')) {
                    expand(button);
                } else {
                    collapse(button);
                }
            },

            initButtons = function (buttons) {
                for (var i = 0, l = buttons.length; i < l; ++i) {
                    var toggleTargetId = buttons[i].dataset.toggleTargetId,
                        toggleTarget = document.getElementById(toggleTargetId);

                    if (!toggleTarget) {
                        throw "Toggle target " + toggleTargetId + " does not exist";
                    }

                    // correct the initial state of the button
                    if (Sfjs.hasClass(toggleTarget, 'hidden')) {
                        Sfjs.addClass(buttons[i], 'closed');
                    }

                    // attach listener for expanding/collapsing the target
                    buttons[i].addEventListener('click', function (e) {
                        toggle(this);

                        e.preventDefault();
                        e.stopPropagation();

                        return false;
                    });
                }
            };

        return {
            initButtons: initButtons,

            toggle: toggle,

            expand: expand,

            collapse: collapse
        };
    }

    function TabView() {
        "use strict";

        var activeTab = null,

            activeTarget = null,

            select = function (tab) {
                var targetId = tab.dataset.tabTargetId,
                    target = document.getElementById(targetId);

                if (!target) {
                    throw "Tab target " + targetId + " does not exist";
                }

                if (activeTab) {
                    Sfjs.removeClass(activeTab, 'active');
                }

                if (activeTarget) {
                    Sfjs.addClass(activeTarget, 'hidden');
                }

                Sfjs.addClass(tab, 'active');
                Sfjs.removeClass(target, 'hidden');

                activeTab = tab;
                activeTarget = target;
            },

            initTabs = function (tabs) {
                for (var i = 0, l = tabs.length; i < l; ++i) {
                    var targetId = tabs[i].dataset.tabTargetId,
                        target = document.getElementById(targetId);

                    if (!target) {
                        throw "Tab target " + targetId + " does not exist";
                    }

                    tabs[i].addEventListener('click', function (e) {
                        select(this);

                        e.preventDefault();
                        e.stopPropagation();

                        return false;
                    });

                    Sfjs.addClass(target, 'hidden');
                }

                if (tabs.length > 0) {
                    select(tabs[0]);
                }
            };

        return {
            initTabs: initTabs,

            select: select
        };
    }

    var tabTarget = new TabView(),
        toggler = new Toggler();

    tabTarget.initTabs(document.querySelectorAll('.tree .tree-inner'));
    toggler.initButtons(document.querySelectorAll('a.toggle-button'));
    </script>
{% endblock %}

{% macro block_tree_entry(hash, data, expanded) %}
    <li>
        <div class="tree-inner" data-tab-target-id="{{ hash }}-details">
             {% if data.children is not empty %}
                 <a class="toggle-button" data-toggle-target-id="{{ hash }}-children" href="#"{% if data.has_duplicate_id %} class="status-red"{% endif %}><span class="toggle-icon"></span></a>
             {% else %}
                 <div class="toggle-icon empty"></div>
             {% endif %}
             {{ data.id }}
             {% if data.has_duplicate_id %}
             <div class="badge-error">!</div>
             {% endif %}
         </div>

        {% if data.children|length > 0 %}
            <ul id="{{ data.id }}-children"{% if not expanded %} class="hidden"{% endif %}>
                {% for childHash, childData in data.children %}
                    {{ _self.block_tree_entry(childHash, childData, false) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro block_tree_details(hash, data) %}
    {% set duplicate_id_text = 'The Id "'~ data.id ~ '" is already used in the same render' %}

    <div class="tree-details" id="{{ hash }}-details">
        <h2>
            {{ data.view_vars.id }}
            {% if data.type_class is defined %}
            <span class="block-type">[<abbr title="{{ data.type_class }}">{{ data.type }}</abbr>]</span>
            {% endif %}
        </h2>

        {% if data.has_duplicate_id %}
            <div class="message-error">
                <span>{{ duplicate_id_text }}.</span>
                <p>Activate the "chain_block" option or change the block name.</p>
            </div>
        {% endif %}

        {% if data.default_data is defined %}
        <h3>
             <a class="toggle-button" data-toggle-target-id="{{ hash }}-default_data" href="#">
                 Default Data
                 <span class="toggle-icon"></span>
             </a>
         </h3>

         <div id="{{ hash }}-default_data">
             <table>
                 <tr>
                     <th width="180">Model Format</th>
                     <td>
                         {% if data.default_data.model is defined %}
                             <pre>{{ data.default_data.model }}</pre>
                         {% else %}
                             <em>same as normalized format</em>
                         {% endif %}
                     </td>
                 </tr>
                 <tr>
                     <th>Normalized Format</th>
                     <td><pre>{{ data.default_data.norm }}</pre></td>
                 </tr>
                 <tr>
                     <th>View Format</th>
                     <td>
                         {% if data.default_data.view is defined %}
                             <pre>{{ data.default_data.view }}</pre>
                         {% else %}
                             <em>same as normalized format</em>
                         {% endif %}
                     </td>
                 </tr>
             </table>
         </div>
        {% endif %}

        {% if data.passed_options is defined %}
        <h3>
             <a class="toggle-button" data-toggle-target-id="{{ hash }}-passed_options" href="#">
                 Passed Options
                 <span class="toggle-icon"></span>
             </a>
         </h3>

         <div id="{{ hash }}-passed_options">
             {% if data.passed_options|length %}
             <table>
                 <tr>
                     <th width="180">Option</th>
                     <th>Passed Value</th>
                     <th>Resolved Value</th>
                 </tr>
                 {% for option, value in data.passed_options %}
                 <tr>
                     <th>{{ option }}</th>
                     <td><pre>{{ value }}</pre></td>
                     <td>
                         {% if data.resolved_options[option] is sameas(value) %}
                             <em>same as passed value</em>
                         {% else %}
                             <pre>{{ data.resolved_options[option] }}</pre>
                         {% endif %}
                     </td>
                 </tr>
                 {% endfor %}
             </table>
             {% else %}
             <p><em>No options where passed when constructing this block.</em></p>
             {% endif %}
         </div>
        {% endif %}

        {% if data.resolved_options is defined %}
        <h3>
             <a class="toggle-button" data-toggle-target-id="{{ hash }}-resolved_options" href="#">
                 Resolved Options
                 <span class="toggle-icon"></span>
             </a>
         </h3>

         <div id="{{ hash }}-resolved_options" class="hidden">
             <table>
                 <tr>
                     <th width="180">Option</th>
                     <th>Value</th>
                 </tr>
                 {% for option, value in data.resolved_options %}
                 <tr>
                     <th>{{ option }}</th>
                     <td><pre>{{ value }}</pre></td>
                 </tr>
                 {% endfor %}
             </table>
         </div>
        {% endif %}

        {% if data.view_vars is defined %}
        <h3>
            <a class="toggle-button" data-toggle-target-id="{{ hash }}-view_vars" href="#">
                View Variables
                <span class="toggle-icon"></span>
            </a>
        </h3>

        <div id="{{ hash }}-view_vars" class="hidden">
            <table>
                <tr>
                    <th width="180">Variable</th>
                    <th>Value</th>
                </tr>
                {% for variable, value in data.view_vars %}
                <tr>
                    <th>{{ variable }}</th>
                    <td><pre>{{ value }}</pre></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>

    {% for childHash, childData in data.children %}
        {{ _self.block_tree_details(childHash, childData) }}
    {% endfor %}
{% endmacro %}
