{% macro block_tree_entry(hash, data, expanded) -%}
    {% import _self as tree %}
    <li>
        <div class="tree-inner" data-tab-target-id="{{ hash }}-details">
            {% if data.children is not empty %}
                <a class="toggle-button" data-toggle-target-id="{{ hash }}-children" href="#"><span class="toggle-icon"></span></a>
            {% else %}
                <div class="toggle-icon empty"></div>
            {% endif %}

            {{ data.name|default('(no name)') }} {% if data.type_class is defined and data.type is defined %}[<abbr title="{{ data.type_class }}">{{ data.type }}</abbr>]{% endif %}

            {% if data.errors is defined and data.errors|length > 0 %}
                <div class="badge-error">{{ data.errors|length }}</div>
            {% endif %}
        </div>

        {% if data.children is not empty %}
            <ul id="{{ hash }}-children" {% if not expanded %}class="hidden"{% endif %}>
                {% for childHash, childData in data.children %}
                    {{ tree.block_tree_entry(childHash, childData, false) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{%- endmacro %}

{% macro block_tree_details(hash, data, duplicate_ids) -%}
    {% import _self as tree %}
    <div class="tree-details" id="{{ hash }}-details">
        <h2>
            {{ data.name|default('(no name)') }}
            {% if data.type_class is defined and data.type is defined %}
                <span class="block-type">[<abbr title="{{ data.type_class }}">{{ data.type }}</abbr>]</span>
            {% endif %}
        </h2>

        {%- if data.id in duplicate_ids -%}
            <div class="message-error">
                <span>{{ duplicate_id_text }}.</span>
                <p>Activate the "chain_block" option or change the block name.</p>
            </div>
        {%- endif -%}

        {% if data.default_data is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ hash }}-default_data" href="#">
                    Default Data <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ hash }}-default_data">
                <table>
                    <thead>
                    <tr>
                        <th width="180">Property</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="font-normal" scope="row">Model Format</th>
                        <td>
                            {% if data.default_data.model is defined %}
                                {{ data.default_data.model }}
                            {% else %}
                                <em class="font-normal text-muted">same as normalized format</em>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="font-normal" scope="row">Normalized Format</th>
                        <td>{{ data.default_data.norm }}</td>
                    </tr>
                    <tr>
                        <th class="font-normal" scope="row">View Format</th>
                        <td>
                            {% if data.default_data.view is defined %}
                                {{ data.default_data.view }}
                            {% else %}
                                <em class="font-normal text-muted">same as normalized format</em>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if data.passed_options is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ hash }}-passed_options" href="#">
                    Passed Options <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ hash }}-passed_options">
                {% if data.passed_options|length %}
                    <table>
                        <thead>
                        <tr>
                            <th width="180">Option</th>
                            <th>Passed Value</th>
                            <th>Resolved Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for option, value in data.passed_options %}
                            <tr>
                                <th>{{ option }}</th>
                                <td>{{ value }}</td>
                                <td>
                                    {% if data.resolved_options[option] is same as(value) %}
                                        <em class="font-normal text-muted">same as passed value</em>
                                    {% else %}
                                        {{ data.resolved_options[option] }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="empty">
                        <p>No options where passed when constructing this block.</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if data.resolved_options is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ hash }}-resolved_options" href="#">
                    Resolved Options <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ hash }}-resolved_options" class="hidden">
                <table>
                    <thead>
                    <tr>
                        <th width="180">Option</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for option, value in data.resolved_options %}
                        <tr>
                            <th scope="row">{{ option }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if data.view_vars is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ hash }}-view_vars" href="#">
                    View Variables <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ hash }}-view_vars" class="hidden">
                <table>
                    <thead>
                    <tr>
                        <th width="180">Variable</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for variable, value in data.view_vars %}
                        <tr>
                            <th scope="row">{{ variable }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    {% for childHash, childData in data.children %}
        {{ tree.block_tree_details(childHash, childData, duplicate_ids) }}
    {% endfor %}
{%- endmacro %}
